.kz-btn {
    width: 90%;
    margin: 4px;
}
.kz-input-text {
    margin-top: 3px;
    width:96%;
	margin-left:6px
}
.kz-pad-20 {
	padding: 40px;
    background-color: #474444;
}
.col-xs-3, .col-xs-9 {
	padding: 0px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 50px;
    font-family: 'Montserrat';
}

button:focus {
    outline: 0;
}